name: Android Build
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'
          
      - name: Fix Project Structure
        run: |
          # 1. Movemos nossa pasta 'lib' para um lugar seguro temporariamente
          mv lib lib_backup
          # 2. Reconstruímos as pastas nativas
          flutter create . --overwrite --platforms=android
          # 3. Apagamos a 'lib' padrão que o Flutter criou
          rm -rf lib
          # 4. Trazemos nossa 'lib' original de volta
          mv lib_backup lib
          
      - name: Install dependencies
        run: flutter pub get
        
      - name: Build APK
        run: flutter build apk --release
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/app/outputs/flutter-apk/app-release.apk
